{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class='monitor-div'>
  <section class='monitor' id='monitor'>
    <div class='head'>
      <h1 class='company'>Cadastro</h1>
    </div>
    <div class="centered_div">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class='btn-monitor' type="submit">Cadastrar</button>
      </form>
    </div>
    <div class='parent grid-parent'></div>
  </section>
</div>
{% endblock %}
