:root {
    --orange: #fd9940;
    --darkorange: #dd7d25;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
    --dark-backgorund: #1e1e2f;
    --light-backgorund: #27293d;
    --primary: #e14eca;
}
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    font-family:Poppins,sans-serif;
    color: #BFBFC5;
    background: linear-gradient(#1e1e2f,#1e1e24);
    margin: 50px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
  
.container {
    max-width: 1400px;
    min-width: 720px;
    padding: 0 15px;
    margin: 0 auto;
}
  
h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 1em;
}
  
.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
  
.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--light-backgorund);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}
  
.card:hover {
    color: var(--white);
    background: var(--primary);
}


.card .card-title {
    font-size: 27px;
    font-weight: 200;
}

.card .card-subtitle {
    margin: 0 0 10px 0;
    font-size: 15px;
    max-width: 100%;
}

.card .card-price {
    margin: 0 0 10px 0;
    max-width: 100%;
    font-size: 30px;
    text-align: right;
    color: #a71638;
}

.card .card-price-positive {
    margin: 0 0 10px 0;
    max-width: 100%;
    font-size: 30px;
    text-align: right;
    color: #009879;
}

.card .card-price-change {
    margin: 0 0 10px 0;
    max-width: 100%;
    font-size: 12px;
}
  
.card .card-link-wrapper {
    margin-top: auto;
}
  
.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}
  
.card:hover .card-link {
    background-image: linear-gradient(to bottom left,#27293d,#1e1e2f,#27293d);
}
  
.cards::-webkit-scrollbar {
    height: 12px;
}
  
.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}
  
.cards::-webkit-scrollbar-thumb {
    background: var(--darkorange);
}
  
.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}
  
@media (min-width: 500px) {
    .cards {
      grid-auto-columns: calc(50% - 10px);
      grid-column-gap: 20px;
    }
}
  
@media (min-width: 700px) {
    .cards {
      grid-auto-columns: calc(calc(100% / 3) - 20px);
      grid-column-gap: 30px;
    }
}
  
@media (min-width: 1100px) {
    .cards {
      grid-auto-columns: calc(25% - 30px);
      grid-column-gap: 40px;
    }
}
  
  
  /* FOOTER STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    position: fixed;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 1;
}
  
.page-footer a {
    display: flex;
    margin-left: 4px;
}


/* TABLE STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    min-width: 400px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
    border-radius: 5px;
    overflow: hidden;
}

.styled-table thead tr {
    color: var(--primary);
    text-align: left;
    border-bottom: 2px solid var(--primary);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table td:nth-child(1) {
    font-weight: bold;
}

.styled-table th:nth-child(n+3),
.styled-table td:nth-child(n+3) {
    text-align: right;
}

.styled-table td:nth-child(6) {
    text-align: left;
    font-size: 12px;
    width: 60px;
    padding: 0px 0px;
    font-weight: bold;
}

.color_change {
    color: #a71638;
}

.color_change_positive {
    color: #009879;
}

.styled-table tbody tr {
    border-bottom: .0625rem solid #3D3F51;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 0px solid var(--primary);
}

.styled-table tbody tr:hover {
    color: var(--primary);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--primary);
}

.table-container {
    background: var(--light-backgorund);
    padding: 15px;
    border-radius: .2857rem;
}

.styled-table tbody tr .table-link-wrapper {
    margin-top: auto;
}
  
.styled-table tbody tr .table-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to bottom left,#27293d,#1e1e2f,#27293d);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}
  
.styled-table tbody tr:hover .table-link {
    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
}
