{% extends 'base.html' %}

{% block title %}Cotação de Ativos{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container">
    <h2>Cotação de Ativos da B3</h2>
    {% if saved %}
      <ul class="cards">
        {% for ativo in saved %}
          <li class="card">
            <div>
              <h3 class="card-title">{{ativo.ticker}}</h3>
              <div class="card-subtitle">
                <p>{{ativo.name}}</p>
              </div>
              <div class="card-price{% if ativo.change_percent >= 0 %}-positive{% endif %}">
                <p>{{ativo.currency_symbol}} {{ativo.price|floatformat:2}}</p>
                <div class="card-price-change">
                  ({% if ativo.change_percent >= 0 %}+{% endif %}{{ativo.change_percent|floatformat:2}}%)
                </div>
              </div>
            </div>
            <div class="card-link-wrapper">
              <a href="{% url 'monitor' ativo.ticker %}" class="card-link">Monitoramento</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
    <h2>Selecione o código de um ativo para salvá-lo.</h2>
    {% endif %}
    <div class="table-container">
      <select id="ticker" class="select_ticker" onchange="location = this.value;">  
        <option class="option_ticker" value="">Procurar...</option>
        {% for ticker in ticker_list %}
          <option value="{% url 'add' ticker %}">{{ticker}}</option>
        {% endfor %}
       </select>
      <table class="styled-table">
        <thead>
          <tr>
              <th class="string-cell">Código</th>
              <th class="string-cell">Nome</th>
              <th class="value-cell">Último Fechamento</th>
              <th class="value-cell">Abertura</th>
              <th class="value-cell">Cotação</th>
              <th><span></span></th>
          </tr>
        </thead>
        <tbody>
          {% for ativo in api %}
            <tr>
                <td>
                  <div class="table-link-wrapper">
                    <a href="{% url 'add' ativo.ticker %}" class="table-link">{{ativo.ticker}}</a>
                  </div>
                </td>
                <td>{{ativo.name}}</td>
                <td>{{ativo.currency_symbol}} {{ativo.previous_close|floatformat:2}}</td>
                <td>{{ativo.currency_symbol}} {{ativo.open|floatformat:2}}</td>
                <td>{{ativo.currency_symbol}} {{ativo.price|floatformat:2}}</td>
                <td class="color_change{% if ativo.change_percent >= 0 %}_positive{% endif %}">({% if ativo.change_percent >= 0 %}+{% endif %}{{ativo.change_percent|floatformat:2}}%)</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="centered_div">
      {% if pag|add:"0" > 10 %}
        <a href="{% url 'pag' pag|add:"-10" %}" class="page_button">&laquo; Voltar 10</a>
      {% endif %}
      {% if pag|add:"0" > 1 %}
        <a href="{% url 'pag' pag|add:"-1" %}" class="page_button">&#8249;</a>
      {% endif %}
      <div class="counter">Página {{pag}} de {{total_pag}}</div>
      {% if pag|add:"0" <  total_pag|add:"0" %}
        <a href="{% url 'pag' pag|add:"1" %}" class="page_button">&#8250;</a>
      {% endif %}
      {% if pag|add:"0" < total_pag|add:"-9" %}
        <a href="{% url 'pag' pag|add:"10" %}" class="page_button">Avançar 10 &raquo;</a>
      {% endif %}
    </div>
    <div class="centered_div">
      <a href="{% url 'logout' %}" class="page_button">Log Out</a>
    </div>
  </div>
  

{% else %}
  <div class='monitor-div'>
    <section class='monitor' id='monitor'>
      <div class='head'>
        <h1 class='company'>Login Necessário</h1>
      </div>
      <div class="centered_div">
        <a href="{% url 'login' %}" class="page_button">Log In</a>
      </div>
      <div class='parent grid-parent'></div>
    </section>
  </div>
{% endif %}
{% endblock %}
