{% extends 'base.html' %}

{% block title %}Cotação de Ativos{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
  <div class="container">
    <h2>Cotação de Ativos da B3</h2>
    <ul class="cards">
      <li class="card">
        <div>
          <h3 class="card-title">Service 1</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn More</a>
        </div>
      </li>
      <li class="card">
        <div>
          <h3 class="card-title">{{api.0.ticker}}</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn More</a>
        </div>
      </li>
    </ul>
    <div class="table-container">
      <table class="styled-table">
        <thead>
          <tr>
              <th class="string-cell">Código</th>
              <th class="string-cell">Nome</th>
              <th class="value-cell">Último Fechamento</th>
              <th class="value-cell">Abertura</th>
              <th class="value-cell">Cotação</th>
              <th><span></span></th>
          </tr>
        </thead>
        <tbody>
          {% for ativo in api %}
            <tr>
                <td>{{ativo.ticker}}</td>
                <td>{{ativo.name}}</td>
                <td>{{ativo.currency_symbol}} {{ativo.previous_close|floatformat:2}}</td>
                <td>{{ativo.currency_symbol}} {{ativo.open|floatformat:2}}</td>
                <td>{{ativo.currency_symbol}} {{ativo.price|floatformat:2}}</td>
                <td class="color_change{% if ativo.change_percent >= 0 %}_positive{% endif %}">({% if ativo.change_percent >= 0 %}+{% endif %}{{ativo.change_percent|floatformat:2}}%)</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
